.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container {
  position: fixed;       /* поверх всього */
  top: 0;
  left: 0;
  width: 800px;
  height: 100%;
  overflow: hidden;
  font-family: monospace;
  background: transparent; /* прозорий фон */
  z-index: 9999;           /* поверх всього */
  pointer-events: none;    /* не блокує кліки */
}

.list {
  display: flex;
  flex-direction: column;
  animation: scrollUp 26s linear infinite;
  opacity: 0.75;           /* напівпрозорий текст */
}

.item {
  padding: 8px;
  text-align: left;
  color: #000;
  font-size: 14px;
  letter-spacing: 2px;
  user-select: none;
  pointer-events: none;
}

@keyframes scrollUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}