.buttonContainer {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 300px;
  z-index: 10;
  cursor: pointer;
}

.appContainer {
  width: 100%;
  height: 100%;
  background-color: #0000ff;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
}

.scrollDowncontainer {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 200px;
  overflow: hidden;
  background: transparent;
  z-index: 9999;
  pointer-events: none;
}

.scrollUpcontainer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
  font-family: monospace;
  background: transparent;
  z-index: 9999;
  pointer-events: none;
}

.itemUp {
  padding: 8px;
  text-align: center;
  color: #000;
  font-family: monospace;
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: 1px;
  user-select: none;
  pointer-events: none;
}

.itemDown {
  padding: 8px;
  text-align: center;
  color: #000;
  font-family: monospace;
  font-size: 13px;
  line-height: 1.2;
  letter-spacing: 1px;
  user-select: none;
  pointer-events: none;
}

.listUp {
  display: flex;
  flex-direction: column;
  animation: scrollUp 60s linear infinite;
  opacity: 0.75;
}

@keyframes scrollUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

.listDown {
  display: flex;
  flex-direction: column;
  animation: scrollDown 120s linear infinite;
  opacity: 0.75;
}

@keyframes scrollDown {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}
